table.table.table-condensed.table-bordered
	thead
	tr
		th Date
		th URL
		th MT
		th Completed
	tbody
		- each item in result
			tr
				td= item.Day
				td= item.URL
				td= item.MT
				td= item.Completed