doctype html
html(lang='en')
	head
		block title
			title Lenovo Updates Monitor
		block meta
			meta(charset='utf-8')
			meta(name='description', content='Lenovo updates monitor')
			meta(name='keywords', content='monitor')
			meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='icon', href='/favicon.ico')
		link(rel='stylesheet', href='/stylesheets/sticky-footer-navbar.css')
		link(rel='stylesheet', href='/stylesheets/login.css')
		link(rel='stylesheet', href='http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css')
		| <style>
		| body { padding-top: 60px; }
		| </style>
	body
		include header
		block content
		include footer
		script(src='http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js')
		script(src='http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js')
