extends layout

block content
	.container
		form(method="get" action="show")
			label(for="date") Date:
			input(type="date", name="date", min="2014-11-01", max="2015-12-31", value= logDate)
	
			label(for="mt") MT:
			input(type="text", name="mt")
	
			label(for="errOnly") ErrorOnly
			input(type="checkbox", name="errOnly", value= errOnly)
	
			input(type="submit", value="Search")
	
		include monitorLogTable
		- if (page > 0) {
			a(href="show?page=" + (page-1)) Previous &nbsp;
		- }
		a(href="show?page=" + (page + 1)) Next
