extends layout

block content
	form(enctype="multipart/form-data" method="post" action="import")
		label(for="Path") Raw Log file:
			input(type="file", name="rawlog")
		input(type="submit" value="Import")