extends layout

block content
	.container
		form(method="get" action="show")
			label Date: &nbsp
			input(type="date", name="fromDate", min="2014-11-01", max="2015-12-31", value= fromDate)
			label &nbsp - &nbsp
			input(type="date", name="toDate", min="2014-11-01", max="2015-12-31", value= toDate)
	
			label(for="mt") &nbsp MT: &nbsp
			input(type="text", name="mt" value= mt)
	
			label(for="errOnly") &nbsp ErrorOnly
			input(type="checkbox", name="errOnly", checked= errOnly)
			
			input(type="submit", value="Search")
	
		include monitorLogTable
		- var nextUrl = "show?";
		- if (mt) nextUrl += ("&mt=" + mt);
		- if (errOnly) nextUrl +=("&errOnly=" + errOnly);
		
		- if (page > 0) {
			a(href = nextUrl + "&page=" + (page-1)) Previous &nbsp;
		- }
		a(href=nextUrl+"&page=" + (page + 1)) Next
