extends layout

block content
	.container
		form.form-inline(enctype="multipart/form-data", method="post", action="import", role="form")
			div.form-group
				label(for="rawlog") Local Log file:
			div.form-group
				input(type="file" name="rawlog")
			div.form-group
				input(type="submit" value="Import")
			
		each line in lines
			li= line
		include monitorLogTable